<header class="header container" id="header">
  <div class="header__icons">

  </div>

  <!-- MOBILE MENU -->

  <nav class="mobile__menu">
    <div class="mobile__menu-container">
      <div class="burger__icons-container">
        <svg class="burger__icon-cross" width="14" height="14" viewBox="0 0 14 14">
          <use class="burger__icon-cross" href="./assets/images/sprite.svg#icon-burger-cross"></use>
        </svg>
      </div>
      <ul class="burger__menu">
        <li class="menu__elem burger-line">
          <a class="menu__elem-item" href="#categories">My News</a>
        </li>
        <li class="menu__elem burger-line">
          <a class="menu__elem-item" href="#course">Europe</a>
        </li>
        <li class="menu__elem burger-line">
          <a class="menu__elem-item" href="#explore">World</a>
        </li>
        <li class="menu__elem">
          <a class="menu__elem-item" href="#degree">Economy</a>
        </li>
        <li class="menu__elem">
          <a class="menu__elem-item" href="#degree">Tech</a>
        </li>
        <li class="menu__elem">
          <a class="menu__elem-item" href="#degree">Weather</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- DESKTOP MENU -->

  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__elem">
        <a class="header__elem-link" href="#categories">My News</a>
      </li>
      <li class="header__elem">
        <a class="header__elem-link" href="#course">Europe</a>
      </li>
      <li class="header__elem">
        <a class="header__elem-link" href="#explore">World</a>
      </li>
      <li class="header__elem">
        <a class="header__elem-link" href="#degree">Economy</a>
      </li>
      <li class="header__elem">
        <a class="header__elem-link" href="#degree">Tech</a>
      </li>
      <li class="header__elem">
        <a class="header__elem-link" href="#degree">Weather</a>
      </li>
    </ul>
    <button class="header__nav-button blue-btn btn" onclick="location.href='#explore'">
      Explore
    </button>
  </nav>
</header>